* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #242323;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: #1a1a1a;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  transition: color 0.3s ease;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff0000; /* Accent color for hover effect */
}

.cta-button {
  background-color: #5f5f5f;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff0000;
}
/*CARD*/

/* From Uiverse.io by Praashoo7 */ 
.card {
  width: 1200px;
  height: 25.5em;
  background:transparent;
  transition: 1s ease-in-out;


  flex-direction: column;
  margin-top: 22rex;
  margin-left: 10rex;
}


.card span {
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align:left;
  display: block;
  font-size: 2em;
  margin-bottom: 2rex;
}


.card .info {
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: block;
  text-align: justify;
  font-size: 2rex;
  margin-bottom: 1em;
}


.card .img {
  width: 4.5em;
  height: 4.5em;
  background: rgb(139, 81, 81);
  border-radius: 15px;
  margin: 0%;
}


.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: left;
  gap: 1em;
}


.card a {
  color: rgb(253, 253, 253);
  transition: .4s ease-in-out;
}



body{
  background-image:url(foto/bg.png) ;
}

/*CARD2*/
.card2 {
  width: 1200px;
  height: 25.5em;
  background:transparent;
  transition: 1s ease-in-out;

  
  flex-direction: row;
  margin-bottom: 1510rem;
  margin-left: 10rex;
}

.card2 span {
  font-weight: bold;
  color: rgb(243, 243, 243);
  text-align: left;
  display: block;
  font-size: 2em;
  margin-bottom: 2rex;
}


.card2 .info {
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: block;
  text-align: justify;
  font-size: 2rex;
  margin-bottom: 1em;
}


.card2 .img {
  width: 4.5em;
  height: 4.5em;
  background: rgb(139, 81, 81);
  border-radius: 15px;
  margin: 0%;
}


.card2 .share {
  margin-top: 1em;
  display: flex;
  justify-content: left;
  gap: 1em;
}


.card2 a {
  color: rgb(253, 253, 253);
  transition: .4s ease-in-out;
}
